.days-load__valuehtml(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Area
		link(href='//fonts.googleapis.com/css?family=Roboto' rel="stylesheet")
	body
		.page
			header
			main
				.chart-wrapper.chart-wrapper_pie
					svg#chart-pie.chart.chart-pie
					.tooltip.tooltip-pie
			footer